main {
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    gap: 1.5rem;
}

.slide-container {
    flex: 1;
    position: relative;
}

.slide {
    min-height: 250px;
    background: #fef6dc;
    color: #2e2e2e;
    display: none;
    padding: 1.7rem;
    text-align: justify;
    border-radius: 12px;
    max-width: 800px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.slide h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #3c2f2f;
}

.linha {
    width: 60px;
    height: 3px;
    background-color: #b2945e;
    margin: 1rem auto;
    border-radius: 2px;
}

.slide h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.slide p {
    margin: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #4a4a4a;
    line-height: 1.7;
    padding: 0 1rem;
}

.slide.ativo {
    display: block;
}

.img-oracao {
    max-width: 800px;
    height: 450px;
}

.img-oracao img {
    width: 100%;
    border-radius: 20px;
}

.img-misterio {
    max-width: 800px;
    height: 400px;
    padding-top: 0.8rem;
    margin-bottom: 10px;
}

.img-misterio img {
    width: 100%;
    border-radius: 20px;
}

.contador {
    display: flex;
    gap: 8px;
    justify-content: center;
    position: relative;
    top: -10px;
    margin: 0 auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
}

.trindade-ctd {
    background-color: transparent;
    margin-top: 2rem;
}

.bolinha {
    width: 50px;
    height: 50px;
    background-image: url('../imgs/rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    cursor: pointer;
    border: none;
}

.bolinha.marcada {
    opacity: 1;
}

.bolinha.selecionada {
    transform: scale(1.1);
    opacity: 1;
}

.btn-carrossel {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #EBD8A4;
    transition: color 0.3s;
}

.btn-carrossel:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.btn-carrossel:hover {
    color: #D4AF37;
}

.inicio {
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.inicio a {
    text-decoration: none;
    color: #EBD8A4;
}

.inicio a:hover {
    color: #D4AF37;
}

@media (max-width: 768px) {
    .inicio {
        left: 50%;
        bottom: 4.5rem;
        transform: translate(-50%);
    }

    .carrossel {
        gap: 1rem;
    }

    .slide {
        padding: 1rem;
        border-radius: 0px;
        width: 100vw;
    }

    .slide h2 {
        font-size: 1.25rem;
        margin-block: 5px;
    }

    .slide .linha {
        height: 2px;
        width: 40px;
    }

    .slide h3 {
        font-size: 0.8rem;
    }

    .slide p {
        margin: 1rem auto;
        font-size: 0.95rem;
    }

    .contador {
        top: -5px;
        margin: 0 auto;
        gap: 2px;
        width: auto;
        background-color: transparent;
    }

    .btn-carrossel {
        font-size: 1.8rem;
        position: absolute;
        bottom: 4.5rem;
    }

    #anterior {
        left: 10%;
    }

    #proximo {
        right: 10%;
    }

    .img-misterio {
        height: auto;
        margin-bottom: 15px;
    }
}