main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ativado {
    display: block;
}

.desativado {
    display: none;
}

.sinaldacruz {
    text-align: center;
}

.home {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.home a {
    text-decoration: none;
    color: #EBD8A4;
}

.home a:hover {
    color: #D4AF37;
}