main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    gap: 1.5rem;
}

.slide-container {
    flex: 1;
    position: relative;
}

.slide {
    background-color: #D4AF37;
    display: none;
    padding: 1.5rem;
    text-align: justify;
    border-radius: 10px;
    max-width: 800px;
    min-height: 250px;
}

.slide h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

}

.slide h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.slide p {
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
}

.slide.ativo {
    display: block;
}


.contador {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 1rem;
}

.bolinha {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.bolinha.marcada {
    background-color: #4b2e05;
}

.bolinha.selecionada {
    border: 2px solid #000;
}

.bolinha:hover {
    border: 2px solid #000;
}


.btn-carrossel {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #c1a957;
    transition: color 0.3s;
}

.btn-carrossel:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.btn-carrossel:hover {
    color: #e6c97a;
}

.img-misterio {
    max-width: 800px;
    padding-top: 20px;
}

.img-misterio img {
    width: 100%;
    border-radius: 20px;
}

.home {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.home a {
    text-decoration: none;
    color: #EBD8A4;
}

.home a:hover {
    color: #D4AF37;
}