main {
    height: 100dvh;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    text-align: center;
}

.titulo {
    font-family: 'Marcellus', serif;
    color: #EBD8A4;
    font-size: 2.5rem;
    letter-spacing: 1px;
    cursor: default;
}

.links {
    display: flex;
    justify-content: center;
    background: radial-gradient(ellipse,
            rgba(0, 0, 0, 1) 5%,
            rgba(8, 8, 8, 0.3) 50%,
            rgba(0, 0, 0, 0) 70%);
    padding: 20px;
    text-align: center;
}

.links a {
    font-size: 5rem;
    color: #EBD8A4;
    font-family: "Playfair Display SC", serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #D4AF37;
}

.data {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

#misterio-dia {
    color: #EBD8A4;
    text-decoration: underline;
    transition: color 0.3s ease;
}

#misterio-dia:hover {
    color: #D4AF37;
}

.logo {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.logo img {
    width: 60px;
    height: auto;
}

.contatos {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.contatos ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.contatos ul li a {
    color: #EBD8A4;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contatos ul li a:hover {
    color: #D4AF37;
}

.btn-tutorial {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #EBD8A4;
    color: #000;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-tutorial:hover {
    background-color: #d4af37;
    color: #000;
}


@media (max-width: 374px) {
    .titulo {
        font-size: 1.5rem;
    }

    .links a {
        font-size: 4rem;
    }

    .data {
        font-size: 0.8rem;
    }

    .logo img {
        width: 50px;
    }

    .btn-tutorial {
        padding: 0.4rem 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 2rem;
    }

    .links a {
        font-size: 4.5rem;
    }

    .data {
        font-size: 1rem;
    }

    .logo {
        bottom: 1.5rem;
    }

    .logo img {
        width: 60px;
    }

    .contatos {
        bottom: 1.5rem;
    }

    .btn-tutorial {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        bottom: 4.5rem;
    }
}